<h1>ACHETE</h1>
<div class="flex">      
</div>
<script>
  const results = [];
  const div_flex=document.querySelector('.flex');
  for(let i = 0; i < <%- valeur %>.length; i++) {
    const div = document.createElement('div');
    div.className='article';
    div_flex.appendChild(div);
    const img = document.createElement('img');
    img.src=results[i].img;
    img.alt=results[i].nom;
    div.appendChild(img);
    const p = document.createElement('p');
    p.textContent='prix : ';
    div.appendChild(p);
    const span = document.createElement('span');
    span.textContent=results[i].prix;
    span.className='red';
    p.appendChild(span);
}

</script>
